@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.help {
  display: flex;
  background: #130a00;
  justify-content: right;
  gap: 3rem;
  padding: 0.5rem 4rem;
}
.help p {
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
.help p:hover {
  color: #bd9c77;
}
header {
  background: url(./images/heroimg.png) no-repeat;
  height: 43rem;
  width: 100%;
}
.logo {
  cursor: pointer;
}
.sub-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}

.topnav {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.topnav li {
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}

.topnav li:hover {
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;
  background: #ffffff;
  color: #8b5617;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
}

.log {
  font-weight: 700;
  font-size: 1rem;
  color: #8b5617;
  cursor: pointer;
}

.log:hover {
  font-weight: 800;
  font-size: 1rem;
  color: #ffffff;
  background: #8b5617;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
}

.sign {
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
  background: #8b5617;
  padding: 0.8rem 1.5rem;
  border-radius: 0.3rem;
}
.sign:hover {
  cursor: pointer;
  font-weight: 800;
  font-size: 1rem;
  background: #ffffff;
  color: #8b5617;
  padding: 0.8rem 1.8rem;
  border-radius: 0.3rem;
}
.topnav .icon {
  display: none;
  color: #f7f7f7;
  font-size: xx-large;
}
.search {
  width: 60%;
  height: 4rem;
  background: linear-gradient(
    90.22deg,
    rgba(255, 255, 255, 0.33) 1.33%,
    rgba(255, 255, 255, 0.35) 102.53%
  );
  border-radius: 0.6rem;
  border: none;
  display: block;
  margin: auto;
  outline: none;
}
input {
  padding: 0 2rem;
  color: #f7f7f7;
  font-weight: 600;
  font-size: 1rem;
}

input::placeholder {
  font-weight: 600;
  font-size: 1rem;
  color: #ffffff;
}

.texty {
  font-weight: 800;
  font-size: 4rem;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-top: 2rem;
}

.section-uno {
  width: 100%;
}

.sub-uno {
  display: flex;
  gap: 3rem;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
  width: 90%;
}
.section-uno img {
  cursor: pointer;
}

.imago {
  position: relative;
  animation: transition 0.4s ease-in-out;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  overflow: hidden;
  width: 0;
  height: 95%;
  transition: 0.5s ease;
  border-radius: 0.5rem;
}

.imago:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 14px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.seeker {
  font-weight: 700;
  font-size: 12px;
  color: #ff8903;
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  border: 1px solid #f7f7f7;
  padding: 0.3rem 1rem;
  background: none;
  border-radius: 0.5rem;
}
.seeker:hover {
  background: rgb(46, 42, 42);
}
.pops {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  align-items: center;
  color: #643c0f;
  margin-top: 3rem;
}

.popular {
  display: flex;
  gap: 3rem;
  /* margin: auto; */
  /* justify-content: space-around; */
  margin-top: 3rem;
  width: 90%;
}
.populus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards p {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 150%;
  color: #5c370d;
  text-align: center;
  margin-bottom: 0.5rem;
}
.pop-cont {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
  justify-items: center;
  width: 100%;
}

.cards {
  background: #ffffff;
  border: 1px solid #bd9c77;
  border-radius: 10px;
  width: 23rem;
  /* height: 309px; */
  justify-content: center;
  padding: 2rem;
  display: block;
  position: relative;
}
.imaga {
  text-align: center;
}

.cards h5 {
  border: 1px solid #8b5617;
  font-weight: 700;
  font-size: 1rem;
  align-items: center;
  color: #8b5617;
  text-align: center;
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.5rem 0.4rem;
  width: 100%;
}

.cards h5:hover {
  color: white;
  background-color: #925611;
}
.samp {
  width: 100%;
  height: fit-content;
}

.extras {
  display: flex;
  gap: 3rem;
  margin: auto;
  justify-content: center;
  margin-top: 3rem;
  width: 100%;
}

.extra-props {
  width: 18rem;
  /* height: 196px; */
  border: 1px solid rgba(92, 55, 13, 0.36);
  border-radius: 10px;
  /* display: block; */
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}
.extra-props:hover {
  transition: ease-in 0.5s;
}

.extra-props p {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #5c370d;
  margin-top: 0.5rem;
}

.givers {
  display: flex;
  margin-top: 5rem;
  width: 100%;
}

.give-cont {
  background-color: #fcc5874a;
  text-align: left;
  padding: 2.5rem 3.5rem 2rem;
  width: 50%;
}

.give-img {
  width: 50%;
}
.give-img img {
  width: 100%;
}
.give-cont h3 {
  font-weight: 700;
  font-size: 2rem;
  align-items: center;
  color: #5c370d;
  margin-bottom: 1rem;
}

.give-cont h6 {
  font-weight: 500;
  font-size: 20px;
  color: #643c0f;
  margin-bottom: 16px;
  line-height: 200%;
}

.sub-give {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 1rem;
}
.sub-give p {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #643c0f;
  margin-bottom: 16px;
}
.sub-give img {
  width: 30px;
  height: 30px;
}
.review {
  background: #f7f7f7;
  padding: 46px 0 37px 120px;
  margin-top: 80px;
  width: 100%;
}
.what-reviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: center;
}

.what-reviews h2 {
  font-weight: 800;
  font-size: 2.5rem;
  align-items: center;
  color: #5c370d;
}

.what-reviews p {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 150%;
  color: #5c370d;
  margin-right: 125px;
}
.said {
  font-weight: 600;
  font-size: 2rem;
  line-height: 150%;
  color: #5c370d;
  margin-bottom: 41px;
}

.reviews-cont {
  background: #ffffff;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 3rem 1rem;
  cursor: grab;
  /* display: block; */
  gap: 3rem;
  width: 27rem;
}
.reviews-cont p {
  font-weight: 600;
  font-size: 1.2rem;
  color: #5c370d;
  margin-bottom: 0.5rem;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.3rem;
}
.reviewer img {
  width: ;
}

.flex-reviews {
  /* overflow-x: scroll; */
  display: flex;
  gap: 49px;
  /* overflow-y: hidden; */
  overflow: auto;
  white-space: nowrap;
}

.see {
  text-align: right;
  font-weight: 600;
  font-size: 23px;
  color: #5c370d;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 125px;
}

.quests {
  display: flex;
  padding: 80px 120px;
  gap: 9.9rem;
  width: 100%;
}

.got h2 {
  font-weight: 800;
  font-size: 40px;
  color: #5c370d;
  margin-top: 16px;
}
.got h3 {
  font-weight: 700;
  font-size: 32px;
  color: #5c370d;
  margin-top: 16px;
}
.got p {
  font-weight: 400;
  font-size: 20px;
  color: #5c370d;
  line-height: 200%;
}
.got {
  width: 50%;
}
.how {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.how h3 {
  font-weight: 800;
  font-size: 24px;
  color: #5c370d;
  margin-bottom: 6px;
}
.how p {
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #5c370d;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 18px;
  /* width: 100%; */
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  background: none;
  border-top: 1px solid #5c370d;
  margin-top: 18px;
  font-weight: 600;
  font-size: 18px;
  color: #5c370d;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #bd9c77;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: "\2227"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  font-weight: bolder;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2228"; /* Unicode character for "minus" sign (-) */
}
.ready {
  padding: 160px 284px;
  text-align: center;
  background: url(./images/Ellipse-curve-down.png) left bottom no-repeat,
    url(./images/Ellipse-curve-up.png) right top no-repeat,
    url(./images/white\ Ellipse\ down.png) left bottom no-repeat,
    url(./images/white\ Ellipse\ up.png) right top no-repeat;
  background-size: auto;
  background-color: #f4ccafa1;
  width: 100%;
}

.ready h3 {
  font-weight: 800;
  font-size: 3rem;
  color: #643c0f;
  margin-bottom: 36px;
}
.ready p {
  font-weight: 600;
  font-size: 20px;
  color: #643c0f;
  margin-bottom: 36px;
}

.flexa {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexa input {
  padding: 22px 20px;
  border: none;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  color: #5c370d;
  font-size: 20px;
  width: 70%;
}

.butts {
  padding: 22px 50px;
  border: none;
  background: #5c370d;
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  align-items: center;
  cursor: pointer;
  width: 30%;
}
footer {
  background: #4a2d0b;
  display: flex;
  justify-content: space-between;
  padding: 35px 274px 72px 118px;
  color: #ffffff;
  width: 100%;
}
footer li {
  list-style: none;
  margin-bottom: 1rem;
  cursor: pointer;
}
footer li:hover {
  text-decoration: underline;
  color: #bd9c77;
}

.about h4 {
  margin: 1rem 0;
}
.socials {
  margin-top: 4.5rem;
  display: flex;
  gap: 1.5rem;
}

.socials img {
  cursor: pointer;
}
.socials img:hover {
  border-radius: 50%;
  background: #bd9c77;
}
.copy {
  display: flex;
  justify-content: space-around;
  background: #130a00;
  padding: 1rem;
  width: 100%;
}
.dev {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}
.pol {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  gap: 5rem;
  color: #ffffff;
}
.pol p {
  cursor: pointer;
}
.pol p:hover {
  text-decoration: underline;
  color: #bd9c77;
}

/* MEDIA QUERIES STARTS HERE */
@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
  .help {
    width: 100%;
  }
  .sub-uno {
    gap: 1.3rem;
  }
  .pop-cont {
    gap: 2rem;
  }
  .popular {
    gap: 1rem;
  }
  .cards {
    width: 20rem;
  }
  #imaga img {
    width: 95%;
  }

  .give-cont {
    width: 50%;
    padding: 2rem 2.5rem;
  }
  .give-img {
    width: 50%;
  }
  .give-cont h3 {
    margin-bottom: 0.5rem;
    font-size: x-large;
    font-weight: 700;
  }

  .give-cont h6 {
    font-size: large;
    text-align: justify;
    margin-bottom: 0.5rem;
    line-height: 150%;
  }

  .sub-give {
    margin-bottom: 0.5rem;
  }
  .sub-give p {
    font-weight: 500;
    font-size: large;
    margin-bottom: 0.5rem;
  }

  .what-reviews p {
    margin-right: 5rem;
  }
  .quests {
    gap: 4rem;
  }
  .ready {
    padding: 5rem 17rem 10rem;
  }
  .ready h3 {
    font-size: xx-large;
  }

  .flexa input {
    padding: 1rem 1rem;
  }
  .butts {
    padding: 1rem 1rem;
    font-size: larger;
  }

  footer {
    padding: 2rem 8rem 4rem 6rem;
  }
}

@media (max-width: 988px) {
  .imago {
  }
  .section-uno {
    gap: 1rem;
  }
  .sub-uno img {
    width: 100%;
  }
  .extras {
    gap: 1rem;
  }
  .extra-props {
    width: 30%;
  }
  .extra-props img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    background-size: cover;
    height: 23rem;
  }
  .sub-header {
    justify-content: space-between;
    padding: 1rem;
  }
  .sub-header li {
    font-size: 0.7rem;
  }
  .sub-header li:hover,
  .log:hover,
  .sign:hover {
    padding: 0.3rem;
    font-weight: 600;
  }

  .texty {
    font-size: 2.5rem;
    line-height: 100%;
    margin-top: 1rem;
  }
  .pops p {
    text-align: center;
  }
  .cards p {
    font-size: 1rem;
    line-height: 100%;
    margin-bottom: 1rem;
  }
  .cards h5 {
    font-size: medium;
    padding: 2px;
    width: 90%;
  }

  .give-cont {
    padding-bottom: 0.5rem;
    padding-top: 0.7rem;
  }
  .give-cont h3 {
    font-size: 1.1rem;
  }

  .give-cont h6 {
    font-size: 0.8rem;
    line-height: 120%;
    margin-bottom: 0.8rem;
  }
  .sub-give p {
    font-size: 0.8rem;
    line-height: 90%;
  }
  .sub-give {
    gap: 1rem;
  }
  .sub-give img {
    width: 20px;
    height: 20px;
  }
  .quests {
    padding: 0;
    gap: ;
    flex-direction: column;
    align-items: center;
  }
  .got h2 {
    font-size: 2.2rem;
  }
  .got h3,
  p {
    text-align: justify;
  }
  #accordion {
    margin-bottom: 0.5rem;
  }

  .ready {
    padding: 4rem 11rem 8rem;
  }
  .ready p {
    text-align: center;
  }
  .flexa input,
  .butts {
    padding: 1rem;
    font-size: 1rem;
  }

  footer {
    padding-right: 6rem;
    padding-left: 4rem;
  }
  .dev {
    font-size: 12px;
  }
  .pol {
    font-size: 12px;
    gap: 0.6rem;
  }
  .copy {
    gap: 1rem;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .givers {
    flex-direction: column;
  }
  .give-cont,
  .give-img {
    width: 90%;
    margin: auto;
  }
  .give-cont h6,
  .sub-give p {
    line-height: 200%;
  }
  .sub-header li,
  .sign,
  .log {
    font-size: 13px;
  }

  .sign,
  .sub-header li:hover,
  .log:hover {
    padding: 2px;
  }
  footer {
    padding-left: 2rem;
    padding-right: 3rem;
  }
}
@media (max-width: 690px) {
  .topnav li,
  .topnav p {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (max-width: 425px) {
  .topnav.responsive li {
    float: none;
    flex-direction: column;
    text-align: left;
  }
  footer {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
